/* PROFILE PAGE CSS */
.user-profile {
  text-align: left
}

.trail-detail-map {
  width: 75%;
  max-width: 1200px;
  height:410px;
}

/* TRAILS PAGE CSS */
.trails-map {
  width: 100%;
  height: 100%
}

/* NAVBAR CSS */
.text-logo {
  width: 20%;
  height: 20%;
}

.image-logo {
  width: 7%;
  height: 7%;
}

/* CSS FROM REACT SHARDS */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

